.container{
   font-family: Open Sans;
   width: 970px;
   text-align: center;
   margin: auto;
}

header {
   height: 80px;
   border-bottom: 1px solid rgba(130, 130, 130, 1);
}

.header-menu {
   width: 498px;
   padding: 20px;
   margin: auto;

}

.element-menu {
   font-size: 18px;
   font-weight: 400px;
   color: #070707;
   padding-left: 30px;
}

.denis-novik {
   font-size: 48px;
   text-align:initial;
   margin: auto;
   padding-bottom: 50px;
}

.logotype {
   height: 387px;
}

.about-block {
 margin-top: -35px;
}

h2 {
   font-size: 34px;
   padding: 50px;
}

p {
   font-size: 18px;
   padding-bottom: 30px;
}

img .portfolio-block {
   height: 540px;
}

.about-block, .portfolio-block {
   background-color: #F6F6F6;
}

.message-button{
   background-color:#070707;
   color:#F6F6F6;
   width: 180px;
   height: 44px;
   border-radius: 22px;
   font-family: Open Sans, sans-serif;
   font-size: 18px;
   font-weight: 700;
}

.contacts-text {
   font-size: 14px;
   color: #828282;
}